## Python Programming Assignment 23

Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [ ]:
def is_symmetrical(num):
    return str(num) == str(num)[::-1]

In [ ]:
print(is_symmetrical(7227))

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [ ]:
def multiply_nums(nums):
    num_list = [int(num) for num in nums.split(", ")]
    product = 1
    for num in num_list:
        product *= num
    return product

In [ ]:
print(multiply_nums("2, 3"))

6

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [ ]:
def square_digits(num):
    result = ""
    for digit in str(num):
        squared_digit = str(int(digit) ** 2)
        result += squared_digit
    return int(result)

In [ ]:
print(square_digits(9119))

811181

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [ ]:
def setify(lst):
    sorted_lst = sorted(lst)
    result = []
    for item in sorted_lst:
        if item not in result:
            result.append(item)
    return result

In [ ]:
print(setify([1, 3, 3, 5, 5]))

[1, 3, 5]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
The mean will always be an integer.

In [ ]:
def mean(num):
    digits = [int(digit) for digit in str(num)]
    mean_value = sum(digits) // len(digits)
    return mean_value

In [ ]:
print(mean(42))

3

## Thank You...!! - By Mr.Abhishek Sachin Dhondalkar